@charset "utf-8";
/* GENERAL STYLES */

@import 'bootstrap.min.css';

@import 'bootstrap-theme.min.css';

@import 'mCustomScrollbar.css';

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek);
@import url(//fonts.googleapis.com/css?family=Comfortaa&subset=latin,greek);

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
		clear: both;
}

.clearfix {
		zoom: 1; /* IE < 8 */
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.cb{
	clear:both;
}

.oh{
	overflow:hidden;
}

.sep{
	height:30px;
	width:805px;
}

body {
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 36pt;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

h2{
	font-size: 30pt;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h3{
	font-size: 26pt;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h4{
	font-size: 20pt;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h5{
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

strong {
	font-family: 'Open Sans', sans-serif; /* Placeholder for bold font */
}

em {
	font-family: 'Open Sans', sans-serif; /* Placeholder for italic font */
}

table {
	margin: 20px 0px;
}

#terms {
  margin: 0 auto;
  width: 100%;
  max-width: 810px;
}

#terms p a {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: red;
	text-decoration: none;
}

.whitebg {
	background: #FFFFFF;
}

.close {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* Install Page */

#installer .input-group,
#installer .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#installer .row p {
	float: left;
}

#install-btn,
#save-app {
	font-size: 24px;
}

/* Settings Page */

#settings .btn.glyphicon {
	font-size: 20px;
}

#settings .input-group,
#settings .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Error Message */

#error {
	z-index: 500;
	border-radius: 6px;
	border: 2px solid #FFF;
	background: #C00 none repeat scroll 0% 0%;
	max-width: 250px;
	position: absolute;
	margin: 435px 0px 0px 300px;
}

	#error p {
		text-align: center;
		color: #F6F6F6;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
	}

/* Loading Screen */

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background: url(../img/px.png) repeat;
}

/*	#loading img {
		margin-top: 10%;
	}*/

#loading .spinner {
  margin: 200px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

#loading .dot1, #loading .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

#loading .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Footer */

footer {
	/*background: url(../img/images/footer.png) top center;*/
}

#footer-content {
	height: 259px;
	position: relative;
}

	#footer-content img {
		position: absolute;
		bottom: 15px;
	}

/* Terms / FAQ Page */

#termswrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

#termswrapper p {
	
	font-size: 14px;
	color: black;
	background: #FFFFFF;
}

#termswrapper h3 {
	font-size: 24px;
	text-align: left;
	margin: 10px 4px;
	color: #900;
}

#termswrapper h4 {
	font-size: 18px;
	text-align: left;
	font-style: italic;
	font-weight: 600;
	margin: 4px 2px;
	color: #900;
}

/* AUTH PAGE */

#authwrapper {
  width: 100%;
  max-width: 810px;
  width:810px;
  height: 810px;
  margin: 0 auto;
	background: url(../img/Elite_Vougiouka_first.jpg) center top no-repeat;
}

#authwrapper .loginbtn a{
	margin: 500px 0px 0px 308px;
	width: 236px;
	height: 62px;
	font-family: comfortaa;
	text-align: center;
	font-size: 23px;
	background-color: #F00;
	color: #FFF;
	box-shadow: 0px 6px 0px #9B4247;
	line-height: 2;

}

#authwrapper .terms{
	margin-left: 314px;
	text-decoration: none;
	font-size: 13px;
	margin-top: 15px;
	font-weight: normal;
	font-family: comfortaa
}

#authwrapper .terms a{
	color:black;
	text-decoration: underline;
	font-family: comfortaa;
	font-weight: normal;
	
}


#authwrapper .loginbtn a:hover{
	color: #E8E8E8;
	background-color: #C20000;
	
}



#authwrapper .loginbtn a:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 1em hsla(0,0%,100%,.2),
                inset 0 .2em .2em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    
}


#term{
	vertical-align: text-bottom;
	margin-right: 2px;
}

/* LIKE PAGE */

#likewrapper {
	/*background: url(../img/pages/back.jpg) center top no-repeat;*/
}

/* GAME PAGE */
#gamewrapper {
    width: 100%;
    max-width: 810px;
    height: auto;
    /*max-height: 800px;*/
    margin: 0 auto;
    /*background: url(../img/Elite_Vougiouka_game_background.jpg) center top no-repeat;*/
    text-align: center;
}
#gamewrapper .quest h4{
	text-align: left;
	font-family: comfortaa;
	font-size: 20px;
	
}
.quizwrap {
    background: none;
    position: relative;
    margin: 80px auto;
    width: 100%;
}
.quest {
    max-width: 470px;
    color: red;
    background: none;
    opacity: 1;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.ans {
    margin: 22px auto 0;
    background: transparent;
    display: inline-block;
}
#gamewrapper .btn-choice a {
	display: block;
	margin-top:12px;
	width: 470px;
	padding: 18px 10px;
	background-color: #d7d7d7;
	border-radius: 6px;
	font-family: comfortaa;
	text-align: center;
	font-size: 20px;
	color: red;
}


#gamewrapper .btn-choice a:hover{
	background-color: red;
	color: #d7d7d7;
	text-decoration: none;
}

.fst-msg{
	position: fixed;
	font-family: comfortaa;
    top: 50%;
    left: 50%;
    margin-top: -156px;
    margin-left: -220px;
    height: 50px;
	border: 1px solid black;
    line-height: 50px;
    width: 400px;
    background: #FBCB67;
	color: black;
    z-index: 9999999999999;
    text-align: center;
    font-size: 18px;
}
.win-msg {
    position: absolute;
    font-family: comfortaa;
    top: 20%;
    left: 50%;
    margin-left: -320px;
    height: 50px;
    border: 1px solid #159C54;
    line-height: 50px;
    width: 400px;
    color: white;
    background: rgb(7, 205, 100);
    z-index: 9999999999999;
    text-align: center;
    font-size: 18px;
    visibility: none;
}
.corr-msg{
    position: fixed;
	font-family: comfortaa;
    top: 50%;
    left: 50%;
    margin-top: -156px;
    margin-left: -220px;
    line-height: 50px;
    width: 400px;
    color: white;
    background: #0070FF;
    z-index: 99999999999;
    text-align: center;
    font-size: 18px;
}
.wrg-msg{
    position: fixed;
    font-family: comfortaa;
    top: 50%;
    left: 50%;
    margin-top: -156px;
    margin-left: -220px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #6C6565;
    z-index: 999999999;
    text-align: center;
    font-size: 18px;
    width: 400px;
}


/* END STYLES */

#endwrapper {
  margin: 0 auto;
  width: 810px;
  max-width: 810px;
  height: 800px;
  background: url('../img/Elite_Vougiouka_form.jpg')center top no-repeat;
}

#submit{
	max-width: 700px;
	height: 500px;
	padding: 208px 100px 100px 134px;
}


#submit .form-control{
	height: 60px;
	width: 465px;
	margin-left: 122px;
	margin-top: 20px;
	color: red;
	text-align: center;
	font-size: 18px;
}
#endwrapper .form-control::-moz-placeholder {color: #FF0000; text-align: center; font-size: 18px;}  /*firefox 19+*/
#endwrapper .form-control:-moz-placeholder{color: #FF0000; text-align: center; font-size: 18px;} /*older firefox versions*/
#endwrapper .form-control::-webkit-input-placeholder{color: #FF0000; text-align: center; font-size: 18px;} /*chrome, safari*/
#endwrapper .form-control:-ms-input-placeholder{color: #FF0000; text-align: center; font-size: 18px;} /*internet explorer*/

#submit .submit-btn{
	
	font-family: comfortaa;
	display: block;
	width: 358px;
	border-radius: 10px;
	font-weight: bold;
	background-color: #F00;
	color: #FFF;
	margin: 15px 0px 10px 174px;
	box-shadow: 0px 6px 0px #9b4247;
	height: 74px;
	font-size: 22px;
	
}


#submit .submit-btn:hover{
	color: #E8E8E8;
	background-color: #C20000;
}



#submit .submit-btn:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 1em hsla(0,0%,100%,.2),
                inset 0 .2em .2em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    
}

#subscription{
	vertical-align: text-bottom;
	margin-right: 5px;
	margin-top: 15px;
}


#submit .sublabel{
	margin-left: 175px;
	width: 397px;
	font-size: 13px;
	text-align: left;
	font-weight: normal;
}

/* CONGRATS STYLES */

#congratswrapper {
  width: 810px;
  max-width: 810px;
  height: 800px;
  margin: 0 auto;
  background: url(../img/Elite_Vougiouka_share.jpg) center top no-repeat;
}


#socialwrapper{
	width: 480px;
	height: 75px;
	padding: 212px;
	margin-left: 166px;
}


#invfriend{
	float:left;
	display: inline-block;
	font-weight: normal;
	color: white;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: red;
	padding: 6px 12px;
	font-family: comfortaa;
	font-size: 18px;
	line-height: 1.429;
	width: 256px;
	height: 76px;
	border-radius: 10px;
	box-shadow: 0px 2px 0px #9b4247;
}

#sharefriend{
	float:left;
	display: inline-block;
	font-weight: normal;
	color: white;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: red;
	padding: 6px 12px;
	font-size: 18px;
	font-family: comfortaa;
	line-height: 1.429;
	width: 256px;
	height: 76px;
	margin-top:16px;
	border-radius: 10px;
	box-shadow: 0px 2px 0px #9b4247;
}

#congratslwrapper .invite button:hover{
	color: #E8E8E8;
	background-color: #C20000;
}

#sharefriend .share button:hover{
	color: #E8E8E8;
	background-color: #C20000;
}

#invfriend button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 1em hsla(0,0%,100%,.2),
                inset 0 .2em .2em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    
}

#sharefriend button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 1em hsla(0,0%,100%,.2),
                inset 0 .2em .2em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    
}


/* Gift Page */
#winwrapper{
	width:810px;
	max-width: 810px;
	max-height: 1100px;
	height:800px;
	z-index: 10000;
	margin: 0 auto;
	background: url(../img/Elite_Vougiouka_gifts.jpg)center top no-repeat;
}

#winpage{
	margin-top: 132px;
	margin-left: 390px;
}

#close{
	margin-left: 738px;
	padding-top: 14px;
}


#authwrapper .windiv a{
	text-decoration: underline;
	color:#740402;
}
/****** MOBILE STYLES ******/

@media (min-width: 768px) and (max-width: 992px) {
	
}

@media (max-width: 767px) { 



}