@charset "utf-8";
/* GENERAL STYLES */

/*@import 'bootstrap.min.css';*/

/*@import 'bootstrap-theme.min.css';*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek);
/*@font-face { font-family: FiraSansBook; src: url('../fonts/FiraSans-Book.otf'); }*/

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open Sans-webfont.eot');
    src: url('../font/Open Sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Open Sans-webfont.woff') format('woff'),
         url('../font/Open Sans-webfont.ttf') format('truetype'),
		 url('../font/Open Sans-webfont.otf') format('opentype'),
         url('../font/Open Sans-webfont.svg#Open Sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../font/fontawesome-webfont.eot');
	src: url('../font/fontawesome-webfont.eot#iefix') format('embedded-opentype'),
		 url('../font/fontawesome-webfont.woff') format('woff'),
		 url('../font/fontawesome-webfont.ttf') format('truetype'),
		 url('../font/FontAwesome.otf') format('opentype'),
		 url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;	
}


body {
    font-family: "Open Sans", Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    background: url('../img/faPHBoJ.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0 auto;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
}

.fixed img {
    top: 26px;
}

header {
    position: relative;
    height: 101px;
    background: #ed1b2e;
    width: 100%;
}

.container-logo {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

header img {
    position: absolute;
    left: 20px;
    top: 14px;
}

#backtotop {
    background: #777;
    border-radius: 50%;
    bottom: 30px;
    color: transparent;
    font-size: 0;
    line-height: 0;
    margin-right: 0 !important;
    padding: 3px 0 7px;
    position: fixed;
    right: 40px !important;
    text-align: center;
    text-decoration: none;
    width: 70px;
    z-index: 5;
}

#mainwrapper{
    position: relative;
    max-width: 710px;
    width: 100%;
    margin: 101px auto 0px auto;
}

#mainwrapper h3 {
    font-size: 16px;
    padding-top: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.survey-box {
    margin: 10px auto;
    max-width: 790px;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.81);
    box-shadow: 6px 6px 10px rgba(23, 21, 21, 0.41), -3px -2px 10px rgba(23, 21, 21, 0.41);
    border-radius: 4px;
    padding: 5px 5px 10px 5px;
}


.select{
    margin: 20px auto 20px 20px;
    /*border: solid 1px green;*/
    padding-left:20px;
    
}

.check {
    margin-left: 30px;
}

.check label {
    margin-left: 5px;
}

table {
    max-width: 100%;
    background-color: rgba(222, 219, 214, 0.31);
    border-color: #fff !important;
    border: 1px solid rgba(249, 246, 245, 0.45) !important;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

input[type=radio], input[type=checkbox] {
    margin: 10px 4px 4px auto;
    line-height: 40px;
    padding-top: 4px;
    vertical-align: middle;
}

.rating-table input[type=radio], .rating-table input[type=checkbox]{
    margin: 4px 4px 4px auto;
    line-height: 40px;
    padding-top: 4px;
    vertical-align: middle;
}

span.number {
    margin-top: 6px;
    vertical-align: middle;
}

.rating-table td.category, .rating-table th.category
{
    font-weight: normal !important;
	width: 14% !important;
    font-size: 11px;
}

td.category, th.category {
    font-weight: normal !important;
    width: 14% !important;
    font-size: 11px;
}

td.fourth-cell.subcategory{
    /*width: 60px;*/
	/*width: 4%;
    font-size: 10px !important;
    margin: 4px auto;
    line-height: 12px;
    font-weight: normal !important;
	text-align:center;
	padding:2px;*/
    width: 40px;
    font-size: 9px !important;
    margin: 10px 0px;
    line-height: 12px;
    font-weight: normal !important;
    text-align: left;    
    display: inline-block;
    vertical-align: middle;
    border: none !important;
    height: 40px;
    padding-right: 2px;
    padding-left: 2px;
}

td.cell-hover.subcategory{
    width: 40px;
    font-size: 9px !important;
    margin: 10px 0px;
    line-height: 12px;
    font-weight: normal !important;
    text-align: left;
    padding-right: 2px;
    display: inline-block;
    vertical-align: middle;
    border: none !important;
    height: 30px;
    padding-left: 2px;
}

tr {
    /* display: inline-block; */
    border: 1px solid #fff;
}

th {
    border: 1px solid #fff;
    width: 12%;
    padding: 4px;
    font-size: 12px;
}

h5, .h5 {
    font-size: 12px;
    margin-left: 30px;
}

.cell-hover, .fourth-cell, .fifth-cell, .seventh-cell{
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #fff;
}

.cell-hover:hover, .fourth-cell:hover, .fifth-cell:hover, .seventh-cell:hover{
    background-color: rgba(237, 27, 46, 0.55);
    color: #fff;
}

/*.cell-hover.active, .fourth-cell.active,*/
.fifth-cell.active, .seventh-cell.active{
    background-color: rgba(237, 27, 46, 0.55);
    color: #fff;
}


.cell-hover.stop, .fourth-cell.stop, .fifth-cell.stop, .seventh-cell.stop {
	pointer-events:none;
}

.type{
    text-align: center;
    font-size:12px;
    display: block;
    width: 100%;
}

.rating-table td {
    /*width: 200px;*/
	width: 8%;
    font-size: 12px;
	font-weight:bold;
    text-align: left;
    padding: 4px;
}

.second-table span {
    display: inline-block
}

.second-table span number {
    display: inline-block;
    font-size: 10px;
}

.check-choices{
    display: none;
}

.check-choices {
    margin: 2px 0px 2px 20px;
}

header p {
    position: absolute;
    left: 40%;
    top: 34px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.survey-box.congrats {
    background-color: rgba(243, 243, 243, 0.36) !important;
}

.congrats-text-one {
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 40px 40px 0px 40px;
    color: #ed1b2e;
    font-weight: bold;
}

.congrats-text {
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: rgba(237, 27, 46, 0.78);
    padding: 0px 40px 40px 40px;
}

.second-table td {
    /*width: 230px;*/
	width: 28%;
    font-size: 12px;
    padding: 4px;
    font-weight: bold;
    text-align: left;
}
.third-table{
    margin:0 auto;
    width: 100%;
}

.input-with-label {
    display: block;
    max-width: 80px;
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.checklabel, label.disclabel {
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 6px;
}

#thirteen p {
    margin: 20px 10px 0px 10px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 10px auto 40px auto;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #636466;
    background-position: 0 -15px;
    color: #ed1b2e;
}

button#submit-button:hover, button#submit-button:focus {
    background-image: -webkit-linear-gradient(top,#87898c 0,#636466 100%);
    background-image: linear-gradient(to bottom,#86878a 0,#636466 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #636466;
}

.check-category.form-control {
    display: inline-block;
    width: 14px;
    outline: none;
    border: none !important;
}

.check-category.form-control:focus {
    outline: none;
}

input.check-disclaimer.form-control.agree,
input.check-disclaimer.form-control.disagree{
    width: 14px;
}

#btncontainer{
    display: block;
    text-align: center ;
    position: relative;
    width: 100%;
}

#submit-button {
    display: inline-block;
    margin: 25px auto;
    width: 200px;
    height: 60;
    font-size: 25px;
}

select#gender_select,
select#age_select,
select#company_size{
    margin-left: 40px;
}

select#complaint {
    margin-left: 30px;
}

label#phonelabel,
label#mail-label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 40px;
}

.check label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 6px;
    vertical-align: middle;
}

input.text-input.phone,
input.text-input.email{
    margin-left: 10px;
}

#eight label{
    margin-top:4px;
}
#eight input[type=radio], #eight input[type=checkbox] {
    margin: 4px 4px 4px auto;
    line-height: 40px;
    padding-top: 0px;
    vertical-align: middle;
}
#improve_text, #reason_text {
    margin-left: 40px;
    width: 100%;
    display: inline-block;
    max-width: 620px;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


/*---------- ADMIN PAGE ----------*/

.graph {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 15px auto;
}

#admin-panel td, .admin-panel th {
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
}

#admin-panel th {
    border: 1px solid #fff;
    width: 1%;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-bottom: 4px solid #fff;
}

#admin-panel .city-name th {
    border-bottom: 1px solid #fff !important;
    border-right: 4px solid #fff !important;
}

#admin-panel table {
    max-width: 100%;
    background-color: rgba(248, 248, 248, 0.59);
    border-color: #fff !important;
    border: 1px solid rgba(249, 246, 245, 0.45) !important;
    text-align: center;
    margin: 0px auto;
    width: 100%;    
}


/*------ EDITS ------*/
/* Settings Page */

#settings .btn.glyphicon {
	font-size: 20px;
}

#settings .input-group,
#settings .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#statistics{
	width:1100px;
	
}


#usrs td{
	text-align: left;
}

/*------ END IF EDITS ------*/

